@charset "UTF-8";
#blue-str{
    color:blue;
}

.back-color {
    background-color: azure;
    border: 2px solid palegoldenrod;
}

.green-str{
    color: #1ae038;
}

.pink-color{
    background-color: pink;
}

span {
    border: solid 2px cadetblue;
    background-color: aliceblue;
}