@charset "UTF-8";

fieldset {
    margin: 1.3%;
}

input[type] {
    margin-right: 0.6%;
    margin-bottom: 0.6%;
}

a {
    font-size: 0.7rem;
}

.margin {
    margin-left: 50px;
}

span {
    display: inline-block;
    width: 12%;
}